.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}

.App-header {
  background-color: #4e5b74;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: 30px;
}

